.list-item {
  height: 48;
}

.list-item text {
  fill: "white";
  x: 15%;
  text-anchor: start;
  font-size: 20;
  text-length: 100;
}

.line {
  height: 3;
  width: 100%;
  fill: #222222;
  y: 100%-3;
}

.hidden {
  display: none;
}

#label {
  text-length: 100;
}

/* 以下，ボタン用のCSS */
.application-fill {
  fill: fb-cyan;
}

.foreground-fill {
  fill: fb-white;
}

.background-fill {
  fill: fb-black;
}